<nav class="navbar navbar-default navbar-fixed-top navbar-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <img height="20" src="/img/akeneo.svg"></img>
            </a>
        </div>
    </div>
</nav>
