{{!-- Free trial terms template --}}
{{#> layout title="Akeneo Free Trial Terms and Conditions"}}
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <h1>Free Trial Terms and Conditions</h1>
            </div>
        </div>
        <div class="row terms">
            {{{mainContent}}}
        </div>
    </div>
{{> terms-footer }}
{{/layout}}
