{{!-- Shared template for all the articles --}}
{{#> layout title="Akeneo Terms & Conditions"}}
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <h1>Akeneo Subscription Agreement</h1>
            </div>
            <div class="col-xs-3">
                <p class="align-title pull-right"><b>As of July 31st, 2020<sup>*</sup></b></p>
            </div>
            <div class="col-xs-12">
                <p><small><sup>*</sup>Former versions available upon request at <a href="mailto:legal@akeneo.com" target="_blank" rel="noopener noreferrer">legal@akeneo.com</a></small></p>
            </div>
        </div>
        <div class="row terms">
            {{{mainContent}}}
        </div>
    </div>
{{> terms-footer }}
{{/layout}}
