{{!-- Terms template --}}
{{#> layout title="Akeneo Terms & Conditions"}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Akeneo Subscription Agreement</h1>
                <p><b>As of November 2nd, 2021</b><br/><small>Former versions available upon request at <a href="mailto:legal@akeneo.com" target="_blank" rel="noopener noreferrer">legal@akeneo.com</a></small></p>
            </div>
        </div>
        <div class="row terms numbered-terms">
            {{{mainContent}}}
        </div>
    </div>
{{> terms-footer }}
{{/layout}}
